# In case you have trouble installing Pillow due to the zlib library use: Pillow -C zlib=disable 
# When adding a new dependency, don't forget to regenerate environment bundle. (see manual)

--find-links="."

pillow
numpy
matplotlib
colorama
opencv_python
lxml
defusedxml
h5py
pytest
pyside6
autoscript_core
autoscript_tem_microscope_client
autoscript_tem_microscope_client_tests
autoscript_tem_toolkit
autoscript_tem_snippets_tests
thermoscientific_logging